.MarginSearchLine
{margin-top:7%;}
	
.MarginHeader
{margin-top:3%;}

.check
{
	font-size: 11pt;
	padding: 0px 0px 15px;
}	
	
.footer 
{
	position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #e7e7e7;
	width: 100%;
	border-top: 1px solid Silver;
}
     
footer div ul li a {color:#7d7d7d;}

footer div ul li a:hover
{
	color:black; 
	text-decoration:underline
}
.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}



.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
	
footer div ul li a:visited 
{
    color: #7d7d7d;
}
 
.FloatLeft 
{
	float:left;
}
	
.DivLeft 
{
	width:50%;
	border-right:1px solid Silver;
	float:left;
}
.ResultHeader 
{
	border-bottom:1px solid Silver;
	padding-bottom:10px;
	height: 100px;
	min-width: 636px;
}

.Logo
{
	max-width:300px; 
	padding:6px; 
	min-width:150px;
	margin-top:1%;
}

.toggler
{
	border:1px solid Silver;
	background:white;
	z-index:9999;
	position:absolute;
	width:95%;
}
.listStyle 
{
	padding-left:0px; 
	padding-bottom:0px; 
	font-size:12pt;
	cursor: pointer;
}

.activeToggle, .hint:hover
{
	background: LightGray;
}

.hint
{
	list-style-type: none
}
.SilverLine
{
	border-bottom:1px solid silver;
}
.AdvancedSearchHeader
{
	margin:20px;
	color:blue;
	font-size:18pt;
}
.AdvancedSearch
{
	margin:20px;
}
.ButtonSize
{
	font-size: 20px;
}
.MarginAdvancedMenu
{
	margin-top:10px; 
	margin-left:10px; 
	margin-right:10px;
}
.Illumination
{
	background-color:yellow;
	font-weight: bold;
}
.NoResult
{
	margin-top:100px;
	margin-left:20%;
	font-size:16pt;
}
.Error
{
	color:red;
	font-size:14pt;
}
.Cursor
{
	cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
