<div>
	 		<header class="ResultHeader"> <!-- Header -->
				<form class="form-horizontal"  autocomplete="off">
					<div class="col-md-3 col-sm-3 col-xs-3 Logo"> <!-- Logo -->
						<a href="#!DocSearch" ng-click="clearAll()"><img ng-src = "style/images/Logo.png" width ="100%" title ="InterSystems"/></a>
					</div>
					<div class="input-groop col-lg-6 col-md-5 col-sm-5 col-xs-5 MarginHeader"> <!-- Search input -->
							<input type="text" ng-model="search.words" ng-change = "change()" class="form-control" id="Search" placeholder="Search" ng-keydown="handleArrows($event)">
							
							<div ng-show = "inputToggle" class = "toggler"> <!-- Hint -->
								<ul class = "listStyle">
									<li class = "hint" ng-repeat = "item in searchItems" ng-class="{'activeToggle': item.value == currrentSearchItem.value}" ng-click = "handleClick(item)">
										<span ng-bind-html = "sce.trustAsHtml(item.value)"></span>
									</li>
								</ul>
							</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 MarginHeader btn-group"> <!-- buttons for search and advanced search-->
						<button type="submit" class="btn btn-primary" ng-click = "makeSearch()">
							<span class="glyphicon glyphicon-search"></span><span class="hidden-sm hidden-xs"> Search</span>
						</button>
							<a href="#!SearchAdvance" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span><span class="hidden-sm hidden-xs"> Advanced Search</span></a>
					</div>	
				</form>
			</header>
			
			<div ng-show = "preloadToggle"> <!-- preloader -->
				<div class="cssload-container">
					<div class="cssload-cube">
						<div class="cssload-half1">
							<div class="cssload-side cssload-s1"></div>
							<div class="cssload-side cssload-s2"></div>
							<div class="cssload-side cssload-s5"></div>
						</div>
						<div class="cssload-half2">
							<div class="cssload-side cssload-s3"></div>
							<div class="cssload-side cssload-s4"></div>
							<div class="cssload-side cssload-s6"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-hide = "preloadToggle">
				<div class="row MarginAdvancedMenu"> <!-- advanced search tags -->
					<div class="col-sm-4">
						<div class="input-group" ng-show="phraseShow">
							<span class="input-group-addon">exact:</span>
							<input type="text" ng-model="search.phrase" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="phraseClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group" ng-show="anyWordsShow">
							<span class="input-group-addon">any:</span>
							<input type="text" ng-model="search.anyWords" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="anyWordsClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group" ng-show="withoutShow">
							<span class="input-group-addon">none:</span>
							<input type="text" ng-model="search.without" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="withoutClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
				</div>
				<div ng-show = "resultToggle"> <!-- search results -->
					   <ul>
					   		<p>About <b> {{totalCount}} </b> results on <b> {{pagesNum}} </b> pages</p>
					   </ul>
					   <ul>
						    <li ng-repeat = "result in results" style="margin-top:10px; list-style-type: none;">
							     <a href="http://{{mylocation}}/csp/docbook/DocBook.UI.Page.cls?KEY={{result.bookKey}}" target="_blank"><b><span ng-bind-html = "sce.trustAsHtml(result.bookTitle)"></span></b></a>
							     <span class="glyphicon glyphicon-arrow-right"></span>
							     <a href="http://{{mylocation}}/csp/docbook/DocBook.UI.Page.cls?KEY={{result.docKey}}" target="_blank"><b><span ng-bind-html = "sce.trustAsHtml(result.title)"></span></b></a>
							     <br>
							     
							     <ul>
							     	<li ng-repeat = "item in result.textInfo | showAllResults:0:5:!result.show_all" style="margin-top:10px; list-style-type: none;">
							     		<span ng-bind-html="sce.trustAsHtml(item.text | itemsLength:0:600:!item.more)"></span>
							     		<button class="btn btn-xs" ng-click = "item.more = !item.more" ng-hide = "item.text.length <= 800">
								     		<span ng-show="item.more" class = "glyphicon glyphicon-resize-small"></span>
								     		<span ng-hide="item.more" class = "glyphicon glyphicon-option-horizontal"></span>
							     		</button>
							     		<a href="http://{{mylocation}}/csp/docbook/DocBook.UI.Page.cls?KEY={{item.textKey}}"  class="btn btn-info btn-xs linkColor" target="_blank"> link </a>			     
							     	</li>
							     </ul>
								 <br>
								<button class="btn" ng-class="!result.show_all ? 'btn-success' : 'btn-default'" ng-click = "result.show_all = !result.show_all;" ng-hide = "result.textInfo.length <= 5"><span ng-hide="result.show_all">Show other results</span><span ng-show="result.show_all">Expand page results</span></button>
						    </li>
					   </ul>
					   
					   <div class="pagination-wrap text-center"> <!-- pagination -->
								<ul class="pagination Cursor">
									<li ng-click="showPage('prev')" ng-class="{'active': currentPageNum() == page.link}" ng-show = "prevToggle"><a >&laquo;</a></li>
									<li ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
									<li ng-click="showPage('next')" ng-class="{'active': currentPageNum() == page.link}" ng-show = "nextToggle"><a >&raquo;</a></li>
								</ul>
							</div>
						</div>
				  </div>
				
				<div class="NoResult" ng-show = "!resultToggle"> <!-- no results -->
					Your search - <b>{{search.words}}</b> - did not match any documents.
					</br>
					Suggestions:
					<ul>
						<li>Make sure that all words are spelled correctly.</li>
						<li>Try different keywords.</li>
						<li>Try more general keywords.</li>
					</ul>
				</div>
</div>

