<div>
	 		<header class="ResultHeader"> <!-- Шапка -->
				<form class="form-horizontal"  autocomplete="off">
					<div class="col-md-3 col-sm-3 col-xs-3 Logo"> <!-- Лого -->
						<a href="#!DocSearch"><img ng-src = "style/images/Logo.png" width ="100%" title ="InterSystems"/></a>
					</div>
					<div class="input-groop col-lg-6 col-md-5 col-sm-5 col-xs-5 MarginHeader"> <!-- Строка поиска -->
							<input type="text" ng-model="search.words" ng-change = "change()" class="form-control" id="Search" placeholder="Search" ng-keydown="handleArrows($event)">
							
							<div ng-show = "inputToggle" class = "toggler">
								<ul class = "listStyle">
									<li class = "hint" ng-repeat = "item in searchItems" ng-class="{'activeToggle': item.value == currrentSearchItem.value}" ng-click = "handleClick(item)">
										{{item.value}}
									</li>
								</ul>
							</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 MarginHeader btn-group"> <!-- Кнопки поиска для разных размеров окна браузера -->
						<button type="submit" class="btn btn-primary" ng-click = "makeSearch()">
							<span class="glyphicon glyphicon-search"></span><span class="hidden-sm hidden-xs"> Search</span>
						</button>
							<a href="#!SearchAdvance" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span><span class="hidden-sm hidden-xs"> Advanced Search</span></a>
					</div>	
				</form>
			</header>
			
			<div ng-show = "preloadToggle">
				<div class="cssload-container">
					<div class="cssload-cube">
						<div class="cssload-half1">
							<div class="cssload-side cssload-s1"></div>
							<div class="cssload-side cssload-s2"></div>
							<div class="cssload-side cssload-s5"></div>
						</div>
						<div class="cssload-half2">
							<div class="cssload-side cssload-s3"></div>
							<div class="cssload-side cssload-s4"></div>
							<div class="cssload-side cssload-s6"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-hide = "preloadToggle">
				<div class="row MarginAdvancedMenu" ng-show="advancedMenuShow">
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" ng-model="search.words" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="wordsClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" ng-model="search.phrase" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="phraseClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" ng-model="search.anyWords" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="anyWordsClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" ng-model="search.without" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default ButtonSize" type="button" ng-click="withoutClear()"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
				</div>
				<div ng-show = "resultToggle"> <!-- Результаты поиска -->
					   <ul>
						    <li ng-repeat = "result in results" style="margin-top:10px; list-style-type: none;">
							     <a href="http://{{mylocation}}/csp/docbook/DocBook.UI.Page.cls?KEY={{result.bookKey}}" target="_blank"><b>{{result.bookTitle}}</b></a>
							     <span class="glyphicon glyphicon-arrow-right"></span>
							     <a href="http://{{mylocation}}/csp/docbook/DocBook.UI.Page.cls?KEY={{result.docKey}}" target="_blank"><b>{{result.title}}</b></a>
							     <br>
							     
							     <ul>
							     	<li ng-repeat = "item in result.textInfo|showAllResults:0:5:!result.show_all" style="margin-top:10px; list-style-type: none;">
							     		{{item.text}} <a href="http://{{mylocation}}/csp/docbook/DocBook.UI.Page.cls?KEY={{item.textKey}}"  class="btn btn-info btn-xs linkColor" target="_blank"> link</a>								     
							     	</li>
							     </ul>
								 <br>
								<button class="btn" ng-class="!result.show_all ? 'btn-success' : 'btn-default'" ng-click = "result.show_all = !result.show_all;" ng-hide = "result.textInfo.length <= 5"><span ng-hide="result.show_all">Show</span><span ng-show="result.show_all">Hide</span> all results</button>
						    </li>
					   </ul>
				  </div>
				
				<div style="text-center" ng-show = "!resultToggle">
					Your search - {{Search.text}} - did not match any documents.
					</br>
					Suggestions:
					</br>
					Make sure that all words are spelled correctly.
					</br>
					Try different keywords.
					</br>
					Try more general keywords.
					</br>
				</div>
				
				<div class="pagination-wrap text-center"> <!-- Пагинация -->
					<ul class="pagination">
						<li ng-click="showPage('prev')" ng-class="{'active': currentPageNum() == page.link}" ng-show = "prevToggle"><a >&laquo;</a></li>
						<li ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
						<li ng-click="showPage('next')" ng-class="{'active': currentPageNum() == page.link}" ng-show = "nextToggle"><a >&raquo;</a></li>
					</ul>
				</div>
			</div>
</div>

