<!-- start page -->
<div>

			<header> <!-- logo -->
				<p class="text-center MarginHeader">
					<img ng-src = "style/images/Logo.png" width ="40%" title ="InterSystems"/>
				</p>
			</header>
			
			<div> <!-- search input -->
				<form class="form-horizontal container-fluid MarginSearchLine ui-widgetui-widget"  autocomplete="off">
					<div class="input-groop col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
							<input type="text" ng-model="search.words" ng-change = "change()" class="form-control" id="Search" placeholder="Search" ng-keydown="handleArrows($event)">
							
							<div ng-show = "inputToggle" class = "toggler"> <!--hint -->
								<ul class = "listStyle">
									<li class = "hint" ng-repeat = "item in searchItems" ng-class="{'activeToggle': item.value == currrentSearchItem.value}" ng-click = "handleClick(item)">
										<span ng-bind-html = "sce.trustAsHtml(item.value)"></span>
									</li>
								</ul>
							</div>
					</div>
					<button type="submit" class="btn btn-primary" ng-click = "makeSearch()"> <!-- button search -->
						<span class="glyphicon glyphicon-search"></span><span class="hidden-xs"> Search</span>
					</button>
				</form><br>
			</div>
			
			<footer class="footer"> <!-- footer -->
				<div  class="hidden-xs FloatLeft">
					<ul class="list-inline">
						<li><a href="http://www.intersystems.com/" target="_blank">InterSystems</a></li>
						<li><a href="https://docs.intersystems.com/latest/csp/docbook/DocBook.UI.Page.cls" target="_blank">Documentation</a></li>
					</ul>
				</div>
			</footer>
</div>