<div>
<!-- Advanced Search -->
	<div class="SilverLine">
		<div class="AdvancedSearchHeader">
			Advanced Search
		</div>
	</div>
	<div class="AdvancedSearch">
		<form class="form-horizontal"  autocomplete="off" >
			<p><b>Find pages with...</b></p>
			<div class="form-group">
				<label for="Search1" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">all these words:</label>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<input type="text" ng-model="search.words" class="form-control" id="Search1" placeholder="Type the important words"/>
				</div>
			</div>
			<div class="form-group">
				<label for="Search2" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">this exact word or phrase:</label>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<input type="text" ng-model="search.phrase" class="form-control" id="Search2" placeholder="Type the entire phrase"/>
				</div>
			</div>
			<div class="form-group">
				<label for="Search3" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">any of these words:</label>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<input type="text" ng-model="search.anyWords" class="form-control" id="Search3" placeholder="Use comma between all the words you want"/>
				</div>
			</div>
			<div class="form-group">
				<label for="Search4" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">none of these words:</label>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<input type="text" ng-model="search.without" class="form-control" id="Search4" placeholder="Use comma between all the words you want"/>
				</div>
			</div>
			<div class="form-group" >
  				<div class="col-md-offset-8 col-md-2 col-sm-offset-7 col-sm-3 col-xs-offset-6 col-xs-4 text-right">
					<button type="submit" class="btn btn-primary" ng-click = "advancedSearch()">
						<span class="glyphicon glyphicon-search"></span> Advanced Search
					</button>
  				</div>
 			</div>
		</form>
	</div>
	
		<div> <!-- Результаты поиска -->
			<ul>
				<li ng-repeat = "result in tempo" style="margin-top:10px; list-style-type: none;">
					<a href="http://localhost:57773/csp/docbook/DocBook.UI.Page.cls?KEY={{result.link}}" target="_blank">{{result.title}}</a>
					<br>
					<span>{{result.content}}</span>
				</li>
			</ul>
		</div>
</div>