<html lang="en" ng-app="searchApp">
	<head>
		<title>	DocSearch </title>
		<meta charset="utf-8">
		<link href = "style/frameworks/bootstrap.min.css" rel="stylesheet">
		
		<link href = "style/DocSearch.css" rel="stylesheet">
		<link href = "style/panel.css" rel="stylesheet">
	</head>

	<body ng-controller="searchController">
		<div id = "block">
			<header>
				<p class="text-center MarginHeader">
					<img src = "style/images/Logo.png" width ="40%" title ="InterSystems" onclick = "logoClick()"/>
				</p>
			</header>
			
			<div>
				<form class="form-horizontal container-fluid MarginSearchLine">
					<div class="input-groop col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
							<input type="text" ng-model="search.text" class="form-control" id="Search" placeholder="Search"/>
					</div>
					<button type="submit" class="btn btn-primary hidden-xs" ng-click = "makeSearch()">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
					<button type="submit" class="btn btn-primary hidden-sm hidden-md hidden-lg" ng-click = "makeSearch()">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form><br>
			</div>
			
			<div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-2 col-xs-10">
				<div>
					<!-- Навигация -->
					 <ul class="nav nav-tabs lis" role="tablist">
						<li class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-education"></span> Guides</a></li>
						<li><a href="#week" aria-controls="week " role="tab" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
					</ul>
				</div>
			
				<!-- Содержимое вкладок -->
				<div class="tab-content">
					<div role="tabpanel" id="today" class="tab-pane fade in active">			
						dfg
					</div>
					<div role="tabpanel" id="week" class="tab-pane fade">			
					ddd
					</div>
				</div>
			</div>
			<footer class="footer">
			<div  class="hidden-xs FloatLeft">
				<ul class="list-inline">
					<li><a href="http://www.intersystems.com/" target="_blank">InterSystems</a></li>
					<li><a href="https://docs.intersystems.com/latest/csp/docbook/DocBook.UI.Page.cls" target="_blank">Documentation</a></li>
				</ul>
			</div>
			</footer>
		</div>
		
		<div id = "block2" style = "display:none;">
		<header class="ResultHeader" style="height:100px">
			<form class="form-horizontal">
				<div class="col-md-3 col-sm-3 col-xs-3 Logo">
					<a href="javascript:window.location.reload()"><img src = "style/images/Logo.png" width ="100%" title ="InterSystems"/></a>
				</div>
				<div class="input-groop col-md-6 col-sm-6 col-xs-6 MarginHeader">
						<input type="text" ng-model="search.text" class="form-control" id="Search" placeholder="Search"/>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 MarginHeader">
					<button type="submit" class="btn btn-primary hidden-xs" ng-click = "makeSearch()">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
					<button type="submit" class="btn btn-primary hidden-sm hidden-md hidden-lg" ng-click = "makeSearch()">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<div class="btn-group dropdown pull-right">
  						<button class="btn dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></button>
  						<ul class="dropdown-menu">
    						<li><a href="#">111</a></li>
   							<li><a href="#">222</a></li>
    						<li><a href="#">333</a></li>
    						<li><a href="#">444</a></li>
  						</ul>
					</div>
				</div>	
			</form>
		</header>
		<div>
			<ul>
				<li ng-repeat = "result in results" style="margin-top:10px; list-style-type: none;">
					<a href="">{{result.metadata.component_blockid}}</a>
					<br>
					<span>{{result.snippet}}</span>
				</li>
			</ul>
		</div>

		
		<div class="panel">
			<a class="handle" href="#">Смотреть</a> <!-- Ссылка для пользователей с отключенным JavaScript -->
			<h3><span>Здесь будет реклама нашего телеграмм бота</span></h3><br>
		</div>
		
		<div class="pagination-wrap">
			<ul class="pagination">
				<li ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
			</ul>
		</div>
		
	</div>
	
		<script type="text/javascript" src = "js/vendor/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src = "js/vendor/bootstrap.js"></script>
		<script type="text/javascript" src="js/vendor/angular.js"></script>
		<script type="text/javascript" src = "js/vendor/bootstrap.js"></script>
		
		<script type="text/javascript" src = "js/app/app.js"></script>
		<script type="text/javascript" src = "js/app/controllers.js"></script>
		<script type="text/javascript" src = "js/app/panel.js"></script>
</body>
</html>
